body.widget {
  background: #f3f3f3;
}
  
body.widget h3 {
  text-transform: capitalize;
  color: #616161;
  font-size: 1.4rem;
  font-family: "Times New Roman";
}

body.widget p {
  font-style: italic;
  font-size: 0.7rem;
  position: absolute;
  bottom: 0;
  left: 10px;
}

body.widget > form.widget {
  right: 30px;
  bottom: 70px;
}

body.widget > img {
  border-radius: 0px;
  border: 1px solid #999;
}