body.widget {
  background: #f3f3f3;
}
  
body.widget h3 {
  color: #616161;
  font-size: 1.3rem;
  width: 350px;
}

body.widget p {
  font-size: 0.9rem;
  position: absolute;
  bottom: 0;
  right: 10px;
  left: 10px;
  text-align: justify;
}

body.widget > form.widget {
  right: 28px;
  bottom: 65px;
}

body.widget > form.widget .CheckboxGlow {
  background: #fff !important;
}

body.widget > img {
  border-radius: 0px;
  border: 1px solid #999;
}