/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 #container {
  margin: 0 auto;
  width: 800px;
 }

 header {
  text-align: center;
  padding: 20px;
 }

 section.journalist {
  height: 100px;
  position: relative;

  .journalist_photo {
    position: absolute;
    top: 30px;
    border-radius: 30px;
    border: 1px solid #ddd;
  }

  span {
    position: absolute;
    left: 50px;
    &.name {
      top: 30px;
    }
    &.email {
      top: 50px;
    }
  }
 }

 .photo {
  width: 100%;
 }

 iframe {
  right: 0px;
  position: absolute;
 }