 #container {
  margin: 0 auto;
  width: 80%;
 }

 header {
  text-align: center;
  padding: 20px auto;
  img {
    width: 200px;
    margin: 0 auto;
  }
 }

 section.journalist {
  height: 100px;
  position: relative;

  .journalist_photo {
    position: relative;
    border-radius: 30px;
    border: 1px solid #ddd;
  }

  span {
    position: relative;
    left: 0;
    &.name {
      top: 30px;
    }
    &.email {
      top: 50px;
    }
  }
 }